[submodule "zsh-syntax-highlighting"]
	path = custom/static/zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git

[submodule "zsh-completions"]
	path = custom/static/zsh-custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git

[submodule "zsh-autosuggestions"]
	path = custom/static/zsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git

[submodule "powerlevel10k"]
	path = custom/static/zsh-custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k

[submodule "fzf-tab"]
	path = custom/static/zsh-custom/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab

[submodule "tpm"]
	path = packages/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
