* {
  font-family: Material Design Icons, JetBrainsMono Nerd Font;
  font-size: 17px;
}
.struct-right,
#clock,
#memory,
#window {
  margin-right: 35px;
}
#waybar {
  background-color: #1e1e2e;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 18px;
  opacity: 0.95;
}
#workspaces button {
  all: initial;
  border-radius: 13px;
  padding: 6px 20px;
  margin: 13px 6px;
  background-color: #1e1e2e;
  color: #d3d0c9;
  transition: background-color 0.35s ease-in-out, color 0.2s ease-in-out;
}
#workspaces button:first-child {
  margin-left: 13px;
}
#workspaces button.active {
  color: #1e1e2e;
  background-color: #d3d0c9;
}
#clock {
  color: #fa98ef;
}
#memory {
  color: #1abc9c;
}
#window {
  color: #d3d0c9;
  padding-left: 35px;
}
#custom-media {
  padding-left: 52px;
  padding-right: 52px;
  margin-top: 13px;
  margin-bottom: 13px;
  border-radius: 80px;
  font-weight: bold;
  color: #1e1e2e;
  transition: background 0.45s ease-in-out, color 0.2s ease-in-out;
}
#custom-media.playing {
  background: linear-gradient(45deg, #11998e, #38ef7d, #00b09b, #1db954);
  background-size: 600% 600%;
  animation: CustomMediaAnimation 15s ease infinite;
}
#custom-media.stopped {
  background: #2f2f48;
  color: #f5f6fa;
}
@keyframes CustomMediaAnimation {
  0% {
    background-position: 0% 41%;
  }
  50% {
    background-position: 100% 60%;
  }
  100% {
    background-position: 0% 41%;
  }
}
